<!DOCTYPE html>
<html>
<head>
  <title>ArtistikCity - Admin Panel</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSRF Token -->
  <meta name="_token" content="{{csrf}}">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!-- plugin css -->
  <link rel="stylesheet" href="/assets/plugins/@mdi/font/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/plugins/perfect-scrollbar/perfect-scrollbar.css">
  <!-- end plugin css -->

  
<!-- <link rel="stylesheet" href="/assets/plugins/plugin.css"> -->


  <!-- common css -->
  <link rel="stylesheet" href="/css/admin/app.css">
  <!-- end common css -->

  
</head>
<body data-base-url="/">

  <div class="container-scroller" id="app">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" href="/">
      <img src="/assets/images/logo.png" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mini" href="/">
      <img src="/assets/images/logo.png" alt="logo" />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button>
    <!-- <ul class="navbar-nav navbar-nav-left header-links">
      <li class="nav-item d-none d-xl-flex">
        <a href="#" class="nav-link">Schedule <span class="badge badge-primary ml-1">New</span>
        </a>
      </li>
      <li class="nav-item active d-none d-lg-flex">
        <a href="#" class="nav-link">
          <i class="mdi mdi-elevation-rise"></i>Reports</a>
      </li>
      <li class="nav-item d-none d-md-flex">
        <a href="#" class="nav-link">
          <i class="mdi mdi-bookmark-plus-outline"></i>Score</a>
      </li>
      <li class="nav-item dropdown d-none d-lg-flex">
        <a class="nav-link dropdown-toggle px-0" id="quickDropdown" href="#" data-toggle="dropdown" aria-expanded="false"> Quick Links </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown pt-3" aria-labelledby="quickDropdown">
          <a href="#" class="dropdown-item">Schedule <span class="badge badge-primary ml-1">New</span></a>
          <a href="#" class="dropdown-item"><i class="mdi mdi-elevation-rise"></i>Reports</a>
          <a href="#" class="dropdown-item"><i class="mdi mdi-bookmark-plus-outline"></i>Score</a>
        </div>
      </li>
    </ul> -->
    <ul class="navbar-nav navbar-nav-right">
      
      <li class="nav-item dropdown d-none d-xl-inline-block">
        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <span class="profile-text d-none d-md-inline-flex">{{admin.name}}!</span>
          <img class="img-xs rounded-circle" src="{{admin.photo_url}}">
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
          <a class="dropdown-item p-0">
            <div class="d-flex border-bottom w-100 justify-content-center">
              <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
              </div>
              <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                <i class="mdi mdi-account-outline mr-0 text-gray"></i>
              </div>
              <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
              </div>
            </div>
          </a>
          <a class="dropdown-item mt-2" href="/admin/profile"> Manage Accounts </a>
          <a class="dropdown-item" href="/admin/change-password"> Change Password </a>
          <!-- <a class="dropdown-item"> Check Inbox </a> -->
          <a href="javascript:void" class="dropdown-item" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
          <form id="logout-form" action="/admin/logout" method="POST" style="display: none;">
            <input type="hidden" name="_token" value="{{csrf}}">
          </form>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="mdi mdi-menu icon-menu"></span>
    </button>
  </div>
</nav>

    <div class="container-fluid page-body-wrapper">
      
<nav class="sidebar sidebar-offcanvas dynamic-active-class-disabled" id="sidebar">
	<ul class="nav">
		<li class="nav-item nav-profile not-navigation-link">
			<div class="nav-link">
				<div class="user-wrapper">
					<div class="profile-image">
						<img src="{{admin.photo_url}}" width="50">
					</div>
					<div class="text-wrapper">
						<p class="profile-name">{{admin.name}}</p>
						<div class="dropdown" data-display="static">
							<a href="#" class="nav-link d-flex user-switch-dropdown-toggler" id="UsersettingsDropdown"
								href="#" data-toggle="dropdown" aria-expanded="false">
								<small class="designation text-muted">{{admin.type_label}}</small>
								<span class="status-indicator online"></span>
							</a>
							<div class="dropdown-menu" aria-labelledby="UsersettingsDropdown">
								<a class="dropdown-item p-0">
									<div class="d-flex border-bottom">
										<div class="py-3 px-4 d-flex align-items-center justify-content-center">
											<i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
										</div>
										<div
											class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
											<i class="mdi mdi-account-outline mr-0 text-gray"></i>
										</div>
										<div class="py-3 px-4 d-flex align-items-center justify-content-center">
											<i class="mdi mdi-alarm-check mr-0 text-gray"></i>
										</div>
									</div>
								</a>
								<a class="dropdown-item mt-2"> Manage Accounts </a>
								<a class="dropdown-item"> Change Password </a>
								<!-- <a class="dropdown-item"> Check Inbox </a> -->
								<a href="javascript:void" class="dropdown-item"
									onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
							</div>
						</div>
					</div>
				</div>
				<!-- <button class="btn btn-success btn-block">New Project <i class="mdi mdi-plus"></i>
		</button> -->
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/admin/dashboard">
				<i class="menu-icon mdi mdi-television"></i>
				<span class="menu-title">Dashboard</span>
			</a>
		</li>
		<li class="nav-item {{#activeClass}}admin/teachers|admin/teacher/*{{/activeClass}}">
			<a class="nav-link" data-toggle="collapse" href="#teacher"
				aria-expanded="{{#isActiveRoute}}admin/teachers|admin/teacher/*{{/isActiveRoute}}" aria-controls="teacher">
				<i class="menu-icon mdi mdi-dna"></i>
				<span class="menu-title">Teacher Management</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse {{#showClass}}admin/teachers|admin/teacher/*{{/showClass}}" id="teacher">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item {{#activeClass}}admin/teacher/create{{/activeClass}}">
						<a class="nav-link" href="/admin/teacher/create">Add Teacher</a>
					</li>
					<li class="nav-item {{#activeClass}}admin/teachers{{/activeClass}}">
						<a class="nav-link" href="/admin/teachers">Manage Teacher</a>
					</li>
				</ul>
			</div>
		</li>

		<li class="nav-item {{#activeClass}}admin/students|admin/students/*{{/activeClass}}">
			<a class="nav-link" data-toggle="collapse" href="#student"
				aria-expanded="{{#isActiveRoute}}admin/students|admin/students/*{{/isActiveRoute}}" aria-controls="student">
				<i class="menu-icon mdi mdi-dna"></i>
				<span class="menu-title">Students Management</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse {{#showClass}}admin/students|admin/students/*{{/showClass}}" id="student">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item {{#activeClass}}admin/students/create{{/activeClass}}">
						<a class="nav-link" href="/admin/students/create">Add Student</a>
					</li>
					<li class="nav-item {{#activeClass}}admin/students{{/activeClass}}">
						<a class="nav-link" href="/admin/students">Manage Student</a>
					</li>
					<li class="nav-item {{#activeClass}}admin/students/artworks{{/activeClass}}">
						<a class="nav-link" href="/admin/students/artworks">Manage Student ArtWork</a>
					</li>
				</ul>
			</div>
		</li>

		<li class="nav-item {{#activeClass}}admin/courses|admin/courses/*{{/activeClass}}">
			<a class="nav-link" data-toggle="collapse" href="#courses"
				aria-expanded="{{#isActiveRoute}}admin/courses|admin/courses/*{{/isActiveRoute}}" aria-controls="courses">
				<i class="menu-icon mdi mdi-dna"></i>
				<span class="menu-title">Course Management</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse {{#showClass}}admin/courses|admin/courses/*{{/showClass}}" id="courses">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item {{#activeClass}}admin/courses/create{{/activeClass}}">
						<a class="nav-link" href="/admin/courses/create">Add New Course</a>
					</li>
					<li class="nav-item {{#activeClass}}admin/courses{{/activeClass}}">
						<a class="nav-link" href="/admin/courses">Manage Active Courses</a>
					</li>
					<li class="nav-item {{#activeClass}}admin/courses/archived/list{{/activeClass}}">
						<a class="nav-link" href="/admin/courses/archived/list">Manage Archived Courses</a>
					</li>
				</ul>
			</div>
		</li>

		

		<li class="nav-item {{#activeClass}}admin/workshop|admin/workshop/*{{/activeClass}}">
			<a class="nav-link" data-toggle="collapse" href="#workshop"
				aria-expanded="{{#isActiveRoute}}admin/workshop|admin/workshop/*{{/isActiveRoute}}" aria-controls="workshop">
				<i class="menu-icon mdi mdi-dna"></i>
				<span class="menu-title">Workshop Management</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse {{#showClass}}admin/workshop|admin/workshop/*{{/showClass}}" id="workshop">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item {{#activeClass}}admin/workshop/create{{/activeClass}}">
						<a class="nav-link" href="/admin/workshop/create">Add Workshop</a>
					</li>
					<li class="nav-item {{#activeClass}}admin/workshop{{/activeClass}}">
						<a class="nav-link" href="/admin/workshop">Manage Workshop</a>
					</li>
				</ul>
			</div>
		</li>

		<li class="nav-item {{#activeClass}}admin/orders|admin/orders/*{{/activeClass}}">
			<a class="nav-link" data-toggle="collapse" href="#orders"
				aria-expanded="{{#isActiveRoute}}admin/orders|admin/orders/*{{/isActiveRoute}}" aria-controls="orders">
				<i class="menu-icon mdi mdi-dna"></i>
				<span class="menu-title">Course Subscription</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse {{#showClass}}admin/orders|admin/orders/*{{/showClass}}" id="orders">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item {{#activeClass}}admin/orders{{/activeClass}}">
						<a class="nav-link" href="/admin/orders">Manage Subscription</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-item {{#activeClass}}admin/tasks|admin/tasks/*{{/activeClass}}">
			<a class="nav-link" data-toggle="collapse" href="#tasks"
				aria-expanded="{{#isActiveRoute}}admin/tasks|admin/tasks/*{{/isActiveRoute}}" aria-controls="tasks">
				<i class="menu-icon mdi mdi-dna"></i>
				<span class="menu-title">Task Management</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse {{#showClass}}admin/tasks|admin/tasks/*{{/showClass}}" id="tasks">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item {{#activeClass}}admin/tasks{{/activeClass}}">
						<a class="nav-link" href="/admin/tasks">Manage Tasks</a>
					</li>
				</ul>
			</div>
		</li>

		<li class="nav-item {{#activeClass}}admin/testimonials|admin/testimonials/*{{/activeClass}}">
			<a class="nav-link" data-toggle="collapse" href="#testimonials"
				aria-expanded="{{#isActiveRoute}}admin/testimonials|admin/testimonials/*{{/isActiveRoute}}" aria-controls="testimonials">
				<i class="menu-icon mdi mdi-dna"></i>
				<span class="menu-title">Testimonial Management</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse {{#showClass}}admin/testimonials|admin/testimonials/*{{/showClass}}" id="testimonials">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item {{#activeClass}}admin/testimonials/create{{/activeClass}}">
						<a class="nav-link" href="/admin/testimonials/create">Add Testimonial</a>
					</li>
					<li class="nav-item {{#activeClass}}admin/testimonials{{/activeClass}}">
						<a class="nav-link" href="/admin/testimonials">Manage Testimonials</a>
					</li>
				</ul>
			</div>
		</li>

		<li class="nav-item {{#activeClass}}admin/newsletter|admin/newsletter/*{{/activeClass}}">
			<a class="nav-link" data-toggle="collapse" href="#newsletter"
				aria-expanded="{{#isActiveRoute}}admin/newsletter|admin/newsletter/*{{/isActiveRoute}}" aria-controls="newsletter">
				<i class="menu-icon mdi mdi-dna"></i>
				<span class="menu-title">Newsletter Management</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse {{#showClass}}admin/newsletter|admin/newsletter/*{{/showClass}}" id="newsletter">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item {{#activeClass}}admin/newsletter{{/activeClass}}">
						<a class="nav-link" href="/admin/newsletter">Manage Newsletter</a>
					</li>
				</ul>
			</div>
		</li>

		<li class="nav-item {{#activeClass}}admin/settings|admin/genres|admin/genres/*|admin/mediums|admin/mediums/*|admin/skills|admin/skills/*|admin/course_types|admin/course_types/*|admin/home/artworks|admin/home/artworks/*{{/activeClass}}">
			<a class="nav-link" data-toggle="collapse" href="#master"
				aria-expanded="{{#isActiveRoute}}admin/settings|admin/genres|admin/genres/*|admin/mediums|admin/mediums/*|admin/skills|admin/skills/*|admin/course_types|admin/course_types/*|admin/home/artworks|admin/home/artworks/*{{/isActiveRoute}}" aria-controls="master">
				<i class="menu-icon mdi mdi-dna"></i>
				<span class="menu-title">Master Management</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse {{#showClass}}admin/settings|admin/genres|admin/genres/*|admin/mediums|admin/mediums/*|admin/skills|admin/skills/*|admin/course_types|admin/course_types/*|admin/home/artworks|admin/home/artworks/*{{/showClass}}" id="master">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item {{#activeClass}}admin/genres{{/activeClass}}">
						<a class="nav-link" href="/admin/genres">Manage Genres</a>
					</li>
					
					<li class="nav-item {{#activeClass}}admin/mediums{{/activeClass}}">
						<a class="nav-link" href="/admin/mediums">Manage Medium</a>
					</li>
					<li class="nav-item {{#activeClass}}admin/skills{{/activeClass}}">
						<a class="nav-link" href="/admin/skills">Manage Skills</a>
					</li>
					<li class="nav-item {{#activeClass}}admin/course_types{{/activeClass}}">
						<a class="nav-link" href="/admin/course_types">Manage Course Types</a>
					</li>
					<li class="nav-item {{#activeClass}}admin/settings{{/activeClass}}">
						<a class="nav-link" href="/admin/settings">Manage Settings</a>
					</li>
					<li class="nav-item {{#activeClass}}admin/home/artworks{{/activeClass}}">
						<a class="nav-link" href="/admin/home/artworks">Manage Home Artwork</a>
					</li>
				</ul>
			</div>
		</li>

		<li class="nav-item {{#activeClass}}admin/blog/*{{/activeClass}}">
			<a class="nav-link" data-toggle="collapse" href="#blog"
				aria-expanded="{{#isActiveRoute}}admin/blog/*{{/isActiveRoute}}" aria-controls="blog">
				<i class="menu-icon mdi mdi-dna"></i>
				<span class="menu-title">Blog Management</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse {{#showClass}}admin/blog/*{{/showClass}}" id="blog">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item {{#activeClass}}admin/blog/category{{/activeClass}}">
						<a class="nav-link" href="/admin/blog/category">Manage Categories</a>
					</li>
					<li class="nav-item {{#activeClass}}admin/blog/tag{{/activeClass}}">
						<a class="nav-link" href="/admin/blog/tag">Manage Tags</a>
					</li>
					<li class="nav-item {{#activeClass}}admin/blog/post{{/activeClass}}">
						<a class="nav-link" href="/admin/blog/post">Manage Posts</a>
					</li>
				</ul>
			</div>
		</li>

		
			
				
				
				
				
			
				
					
						
						
					
						
						
					
						
						
					
				
			

		
			
				
				
				
			
		
			
				
				
				
			
		
			
				
				
				
			
		
			
				
				
				
				
			
				
					
						
						
					
						
						
					
						
						
					
				
			
		
			
				
				
				
			
	</ul>
</nav>
      <div class="main-panel">
        <div class="content-wrapper">
          {{#flash.success}}
<div class="alert alert-success alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>{{flash.success}}</strong>
</div>
{{/flash.success}}

{{#flash.error}}
<div class="alert alert-danger alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>{{flash.error}}</strong>
</div>
{{/flash.error}}

{{#flash.warning}}
<div class="alert alert-warning alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>{{flash.warning}}</strong>
</div>
{{/flash.warning}}

{{#flash.info}}
<div class="alert alert-info alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>{{flash.info}}</strong>
</div>
{{/flash.info}}

{{#hasErrors}}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Please check the form below for errors
</div>
{{/hasErrors}}
          
<div class="row">
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
		<div class="card card-statistics">
			<div class="card-body">
				<div
					class="d-flex flex-md-column flex-xl-row flex-wrap justify-content-between align-items-md-center justify-content-xl-between">
					<div class="float-left">
						<i class="mdi mdi-cube text-danger icon-lg"></i>
					</div>
					<div class="float-right">
						<p class="mb-0 text-right">Total Courses</p>
						<div class="fluid-container">
							<h3 class="font-weight-medium text-right mb-0">{{coursesCount}}</h3>
						</div>
					</div>
				</div>
				<p class="text-muted mt-3 mb-0 text-left text-md-center text-xl-left">
					<i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Courses
				</p>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
		<div class="card card-statistics">
			<div class="card-body">
				<div
					class="d-flex flex-md-column flex-xl-row flex-wrap justify-content-between align-items-md-center justify-content-xl-between">
					<div class="float-left">
						<i class="mdi mdi-receipt text-warning icon-lg"></i>
					</div>
					<div class="float-right">
						<p class="mb-0 text-right">Courses Booked</p>
						<div class="fluid-container">
							<h3 class="font-weight-medium text-right mb-0">{{bookedCourseCount}}</h3>
						</div>
					</div>
				</div>
				<p class="text-muted mt-3 mb-0 text-left text-md-center text-xl-left">
					<i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Booking
				</p>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
		<div class="card card-statistics">
			<div class="card-body">
				<div
					class="d-flex flex-md-column flex-xl-row flex-wrap justify-content-between align-items-md-center justify-content-xl-between">
					<div class="float-left">
						<i class="mdi mdi-poll-box text-success icon-lg"></i>
					</div>
					<div class="float-right">
						<p class="mb-0 text-right">Revenue</p>
						<div class="fluid-container">
							<h3 class="font-weight-medium text-right mb-0">₹ {{totalRevenueINR}}, $ {{totalRevenueUSD}} </h3>
						</div>
					</div>
				</div>
				<p class="text-muted mt-3 mb-0 text-left text-md-center text-xl-left">
					<i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Total Revenue
				</p>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
		<div class="card card-statistics">
			<div class="card-body">
				<div
					class="d-flex flex-md-column flex-xl-row flex-wrap justify-content-between align-items-md-center justify-content-xl-between">
					<div class="float-left">
						<i class="mdi mdi-account-box-multiple text-info icon-lg"></i>
					</div>
					<div class="float-right">
						<p class="mb-0 text-right">Students</p>
						<div class="fluid-container">
							<h3 class="font-weight-medium text-right mb-0">{{usersCount}}</h3>
						</div>
					</div>
				</div>
				<p class="text-muted mt-3 mb-0 text-left text-md-center text-xl-left">
					<i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Registered Students
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Orders (<a href="/admin/orders">View All</a>)</h4>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th> # </th>
								<th> Order Date </th>
								<th> Student name </th>
								<th> Course Title </th>
								<th> Amount </th>
								<th> Course Start Date </th>
							</tr>
						</thead>
						<tbody>
							{{#bookedCourses}}
								<tr>
									<td class="font-weight-medium"> {{order_number}} </td>
									<td> {{#dateFmt}}F j, Y|{{created_at}}{{/dateFmt}} </td>
									<td> {{name}} </td>
									<td> {{title}}
										
									</td>
									<td> {{#when}}{{price_type}}==inr⟫ ₹ {{#money}}{{price}}{{/money}} ⟪else⟫ $ {{#money}}{{price}}{{/money}} {{/when}} </td>
									<td class="text-danger"> {{#dateFmt}}F j, Y|{{course_start_date}}{{/dateFmt}} <i class="mdi mdi-arrow-down"></i></td>
								</tr>
							{{/bookedCourses}}
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title mb-4">Manage Tasks (<a href="/admin/tasks">View All</a>)</h5>
				<div class="fluid-container">
					{{#getMessages}}
						<div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
							<div class="col-md-1">
								{{#when}}{{profile_photo}}⟫
                      				<img src="/storage/uploads/students/{{user_id}}/{{profile_photo}}" class="img-sm rounded-circle mb-4 mb-md-0 d-block mx-md-auto">
                    			{{/when}} 
							</div>
							<div class="ticket-details col-md-9">
								<div class="d-flex">
									<p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">
										<strong>{{name}}</strong>
										{{#when}}{{review_status}}==Under Review⟫
											<span class="badge badge-primary">Under Review</span>
										⟪else⟫{{#when}}{{review_status}}==Reviewed⟫
											<span class="badge badge-info">Reviewed</span>
										⟪else⟫{{#when}}{{review_status}}==Feedback⟫
											<span class="badge badge-warning">Feedback</span>
										⟪else⟫
											<span class="badge badge-success">Completed</span>
										{{/when}}{{/when}}{{/when}}
									</p>
									
									
								</div>
								<p class="text-gray ellipsis mb-2">{{reply}}</p>
								<div class="row text-gray d-md-flex d-none">
									<div class="col-4 d-flex">
										<small class="mb-0 mr-2 text-muted text-muted">Last responded:</small>
										<small class="Last-responded mr-2 mb-0 text-muted text-muted">{{created_at}}</small>
									</div>
									<div class="col-4 d-flex">
										
										
									</div>
								</div>
							</div>
							<div class="ticket-actions col-md-2">
								<div class="btn-group dropdown">
									<button type="button"
										class="btn btn-success dropdown-toggle btn-sm"
										data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false"> Manage </button>
									<div class="dropdown-menu">
										<a class="dropdown-item" data-toggle="modal"
											data-target="#taskModal"
											data-task="{{task_id}}"
											data-connect={{student_teacher_connect_id}}
											data-student={{user_id}}><i
												class="fa fa-reply fa-fw"></i>Quick reply</a>
										<div class="dropdown-divider"></div>
										<span class="dropdown-item"><i
												class="fa fa-history fa-fw"></i>Mark Status</span>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="javascript:;"
											onclick="confirmStatusChange({{id}}, 'Under Review')"><i
												class="fa fa-check text-success fa-fw"></i>Under
											Review</a>
										<a class="dropdown-item" href="javascript:;"
											onclick="confirmStatusChange({{id}}, 'Reviewed')"><i
												class="fa fa-times text-danger fa-fw"></i>Reviewed</a>
										<a class="dropdown-item" href="javascript:;"
											onclick="confirmStatusChange({{id}}, 'Feedback')"><i
												class="fa fa-times text-danger fa-fw"></i>Feedback</a>
										<a class="dropdown-item" href="javascript:;"
											onclick="confirmStatusChange({{id}}, 'Completed')"><i
												class="fa fa-times text-danger fa-fw"></i>Completed</a>
									</div>
								</div>
							</div>
						</div>
					{{/getMessages}}
				</div>
			</div>
		</div>
	</div>
</div>





<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document" style="max-width: 750px;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="taskModalLabel">Task Reply</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form class="form-sample" name="taskFrm" id="taskFrm" method="POST">
				<div class="modal-body">
					<input type="hidden" name="from_id" value="{{admin.id}}">
					<input type="hidden" name="from_type" value="Teacher">
					<input type="hidden" name="task_id" id="task_id" value="">
					<input type="hidden" name="student_teacher_connect_id" id="student_teacher_connect_id" value="">
					<input type="hidden" name="to_type" value="Student">
					<input type="hidden" name="to_id" id="to_id" value="">
					<input type="hidden" name="review_status" value="Completed">
					<div class="form-group">
						<label for="project_description" class="col-form-label">Reply:</label>
						<textarea rows="10" class="form-control" id="reply" name="reply" placeholder="Reply"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>


        </div>
        <footer class="footer">
  <div class="container-fluid clearfix">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©  <a href="#" target="_blank">artistik.com</a> 2021</span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="#" target="_blank">Admin</a> <i class="mdi mdi-heart text-danger"></i>
    </span>
  </div>
</footer>
      </div>
    </div>
  </div>

  <!-- base js -->
  <script src="/js/admin/app.js"></script>
  <script src="/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <!-- end base js -->

  <!-- plugin js -->
  
<script src="/assets/plugins/chartjs/chart.min.js"></script>
<script src="/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

  <!-- end plugin js -->

  <!-- common js -->
  <script src="/assets/js/off-canvas.js"></script>
  <script src="/assets/js/hoverable-collapse.js"></script>
  <script src="/assets/js/misc.js"></script>
  <script src="/assets/js/settings.js"></script>
  <script src="/assets/js/todolist.js"></script>
  <script src="/assets/js/file-upload.js"></script>
<!-- end common js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

<script src="/assets/js/dashboard.js"></script>
<script>
function confirmStatusChange(id, status) {
	console.log(status);
	swal({
		title: "Are you sure?",
		text: "You want to change the status of this reply!",
		icon: "warning",
		buttons: true,
		dangerMode: true,
	})
	.then(isConfirm => {
		if (!isConfirm) throw null;

		$.ajax({
			type: "POST",
			url: "/api/modules/lessons/task/change-status",
			headers: {
				'X-CSRF-TOKEN': $('meta[name="_token"]').attr('content')
			},
			data: "student_task_id="+id+"&status="+status,
			dataType: 'json',
			success: function(data) {}
		})
		.done(function(data) {
			swal("Status Changed!", "The status has been successfully changed!", "success");
			setTimeout(() => {
				window.location.reload();
			}, 1000);
		})
		.error(function(data) {
			swal("Oops", "We couldn't connect to the server!", "error");
		});
	})
	.catch(err => {
		if (err) {
			swal("Oops", "The request failed!", "error");
		} else {
			swal.stopLoading();
			swal.close();
		}
	});
}

$('#taskModal').on('show.bs.modal', function (event) {
	let button = $(event.relatedTarget);
	let task_id = button.data('task');
	let student_teacher_connect_id = button.data('connect');
	let user_id = button.data('student');
	console.log(task_id);
	console.log(student_teacher_connect_id);
	console.log(user_id);
	let modal = $(this)
	modal.find('.modal-title').text('Task #' + task_id + '');
	modal.find('.modal-body input#reply').val('');
	modal.find('.modal-body input#task_id').val(task_id);
	modal.find('.modal-body input#student_teacher_connect_id').val(student_teacher_connect_id);
	modal.find('.modal-body input#to_id').val(user_id);
});

$(document).ready(function () {
	$('#taskFrm').on('submit', function(e) {
		e.preventDefault();
		$.ajax({
			type: "POST",
			url: "/api/modules/lessons/task/reply",
			headers: {
				'X-CSRF-TOKEN': $('meta[name="_token"]').attr('content')
			},
			data: $('#taskFrm').serialize(),
			dataType: 'json',
			success: function (response) {
				console.log(response)
				$('#taskModal').modal('hide')
				// alert("data saved");
			},
			error: function(error) {
				console.log(error)
				// alert("Data not saved");
			}
		});
	});
});
</script>

</body>
</html>
